<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-cintext-4.0.xsd">

    <bean id="auther" class="com.vaishnavi.example.Auther"></bean>
    
    <bean id="publ1" class="com.vaishnavi.example.Publication"></bean>
    
    <bean id="publ2" class="com.vaishnavi.example.Publication"></bean>
    
    <bean id="publ3" class="com.vaishnavi.example.Publication"></bean>
    
    <alias name="auther" alias="firstauther"/>
    
     <alias name="auther" alias="secondauther"/>
</beans>